@charset "utf-8";
.flex{
  display: flex;
  display: -webkit-flex;
  &.flex-between{
    -webkit-justify-content:space-between;
    justify-content:space-between;
  }
  &.flex-aic{
    -webkit-align-items: center;
    align-items: center;
  }
}